<nav class="navbar fixed-top navbar-light bg-dark justify-content-between">
    <img src="https://ictkerala.org/assets/images/cropped-ict-ico.png" class="responsive" width="100" height="70" alt=""  >
    <a routerLink=""><h2>ID APP GENERATOR-ICTAK</h2></a>
    <form class="form-inline">
    <a class="btn btn-outline-primary" id="register" routerLink="register" target="" role="button">Register</a> 
  
    <a class="btn btn-outline-primary" id="login" routerLink="login" target="" role="button">Login</a>
</form>
</nav>
